body{
  overflow-x: hidden;
}

.vote-item{
  border: 2px solid #1DA1F2;
  padding: 10px;
  color: #000;
}

.night .card-title {
  color: black;
}

.night .card{
  /* background: rgb(72, 76, 79); */
}

.night .card .btn {
  background: rgb(72, 76, 79);
}

.night .header-home{
  color: white !important;
}